In [54]:
!python -V

Python 3.9.12

In [55]:
import pandas as pd

In [214]:
import pickle

In [56]:
import seaborn as sns
import matplotlib.pyplot as plt

In [207]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [134]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-01.parquet')
df['duration'] = df.lpep_dropoff_datetime - df.lpep_pickup_datetime
df.duration = df.duration.apply(lambda x: x.total_seconds() / 60)
df = df[((df.duration >= 1) & (df.duration <=60))]
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']
df[categorical] = df[categorical].astype(str)

In [135]:
#df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-01.parquet')

In [136]:
#df

In [137]:
#trip type 1 is hailing and 2 is dispatch

In [138]:
#df[df.trip_type == 2]

In [139]:
#df.trip_type == 2

In [140]:
#df = df[df.trip_type == 2]

In [141]:
#df

In [142]:
# we will predict the duration here, so we need tio subtracr dropoff - pckup time

In [143]:
# here pandas takes the above time as string to make understand it time we will convert

In [144]:
#df.lpep_dropoff_datetime - df.lpep_pickup_datetime

In [145]:
#df['duration'] = df.lpep_dropoff_datetime - df.lpep_pickup_datetime

In [146]:
#df

In [147]:
#df = df.reset_index(drop=True)

In [148]:
#df

In [149]:
#convert duration to readabl format ie in mins

In [150]:
#df.duration.iloc[0]

In [151]:
#td = df.duration.iloc[0]

In [152]:
#td.total_seconds()/60

In [153]:
#df.duration = df.duration.apply(lambda x: x.total_seconds() / 60)

In [154]:
#df

In [155]:
#sns.displot(df.duration)

In [156]:
#df.duration.describe()

In [157]:
#df.duration.describe(percentiles=[0.99, 0.95, 0.98])

In [158]:
# so here most of the values are under 60 mins as you could see 98 % of values under 59

In [159]:
#((df.duration >= 1) & (df.duration <=60)).mean()

In [160]:
#df[((df.duration >= 1) & (df.duration <=60))]

In [161]:
#df = df[((df.duration >= 1) & (df.duration <=60))]

In [162]:
#df

In [163]:
# filtering some values

In [164]:
#df.dtypes

In [165]:
#categorical = ['PULocationID', 'DOLocationID']
#numerical = ['trip_distance']

In [166]:
# now train the model

In [167]:
#df[categorical]

In [168]:
#df[categorical].dtypes

In [169]:
# onehot encoding treat above as number so we convert to string

In [170]:
#df[categorical].astype(str).dtypes

In [171]:
#df[categorical]

In [172]:
#df[categorical] = df[categorical].astype(str)

In [173]:
#df[categorical]

In [174]:
#df[categorical].dtypes

In [175]:
#df.dtypes

In [176]:
#convert dataframe to dictonaries

In [177]:
#df[categorical + numerical].iloc[:10]

In [178]:
#df[categorical + numerical].iloc[:10].to_dict(orient='records')

In [179]:
#train_dict = df[categorical + numerical].to_dict(orient='records')

In [180]:
#train_dict

In [181]:
#dv = DictVectorizer()

In [182]:
#X_train = dv.fit_transform(train_dict)

In [183]:
#X_train

In [184]:
#dv.feature_names_

In [185]:
#target = 'duration'

In [186]:
#y_train= df[target].values

In [187]:
#y_train

In [188]:
#lr  = LinearRegression()

In [189]:
#lr.fit(X_train, y_train)

In [190]:
#y_pred = lr.predict(X_train)

In [191]:
#sns.histplot(y_pred, label='Prediction', kde=True, color='blue', alpha=0.5)
#sns.histplot(y_train, label='Actual', kde=True, color='orange', alpha=0.5)

In [192]:
# sns.histplot(y_pred, label='prediction', color='blue')
# sns.histplot(y_train, label='actual', color='orange')

# plt.legend()

In [193]:
#mean_squared_error(y_train, y_pred, squared=False)

In [194]:
#lr  = LinearRegression()
#lr.fit(X_train, y_train)

#y_pred = lr.predict(X_train)

In [195]:
def read_data_frames(url):
    df = pd.read_parquet(url)
    df['duration'] = df.lpep_dropoff_datetime - df.lpep_pickup_datetime
    df.duration = df.duration.apply(lambda x: x.total_seconds() / 60)
    df = df[((df.duration >= 1) & (df.duration <=60))]
    categorical = ['PULocationID', 'DOLocationID']
    numerical = ['trip_distance']
    df[categorical] = df[categorical].astype(str)
    return df

In [196]:
df_train = read_data_frames('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-01.parquet')
df_val = read_data_frames('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-02.parquet')

In [197]:
len(df_train), len (df_val)

(73908, 61921)

In [209]:
df_train['PU_DO'] = df_train['PULocationID'] + '_' + df_train['DOLocationID']
df_val['PU_DO'] = df_val['PULocationID'] + '_' + df_val['DOLocationID']

In [210]:
df_val

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,duration,PU_DO
0,2,2021-02-01 00:34:03,2021-02-01 00:51:58,N,1.0,130,205,5.0,3.66,14.00,...,10.00,0.0,None,0.3,25.30,1.0,1.0,0.00,17.916667,130_205
1,2,2021-02-01 00:04:00,2021-02-01 00:10:30,N,1.0,152,244,1.0,1.10,6.50,...,0.00,0.0,None,0.3,7.80,2.0,1.0,0.00,6.500000,152_244
2,2,2021-02-01 00:18:51,2021-02-01 00:34:06,N,1.0,152,48,1.0,4.93,16.50,...,0.00,0.0,None,0.3,20.55,2.0,1.0,2.75,15.250000,152_48
3,2,2021-02-01 00:53:27,2021-02-01 01:11:41,N,1.0,152,241,1.0,6.70,21.00,...,0.00,0.0,None,0.3,22.30,2.0,1.0,0.00,18.233333,152_241
4,2,2021-02-01 00:57:46,2021-02-01 01:06:44,N,1.0,75,42,1.0,1.89,8.50,...,2.45,0.0,None,0.3,12.25,1.0,1.0,0.00,8.966667,75_42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64567,2,2021-02-28 22:19:00,2021-02-28 22:29:00,None,NaN,129,7,NaN,2.63,10.04,...,0.00,0.0,None,0.3,10.34,NaN,NaN,NaN,10.000000,129_7
64568,2,2021-02-28 23:18:00,2021-02-28 23:27:00,None,NaN,116,166,NaN,1.87,8.33,...,1.89,0.0,None,0.3,10.52,NaN,NaN,NaN,9.000000,116_166
64569,2,2021-02-28 23:44:00,2021-02-28 23:58:00,None,NaN,74,151,NaN,2.40,12.61,...,0.00,0.0,None,0.3,12.91,NaN,NaN,NaN,14.000000,74_151
64570,2,2021-02-28 23:07:00,2021-02-28 23:14:00,None,NaN,42,42,NaN,1.11,11.95,...,0.00,0.0,None,0.3,15.00,NaN,NaN,NaN,7.000000,42_42
64571,2,2021-02-28 23:43:00,2021-02-28 23:50:00,None,NaN,42,41,NaN,1.40,8.21,...,0.00,0.0,None,0.3,8.51,NaN,NaN,NaN,7.000000,42_41

In [211]:
categorical = ['PU_DO']#'PULocationID', 'DOLocationID'
numerical = ['trip_distance']

dv = DictVectorizer()
train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

target = 'duration'
y_train = df_train[target].values
y_val = df_val[target].values

#y_train= df[target].values
lr  = LinearRegression()
lr.fit(X_train, y_train)


y_pred = lr.predict(X_val)

mean_squared_error(y_val, y_pred, squared=False)

7.479562160810692

In [215]:
with open('models/lin_reg_duration.bin', 'wb') as f_out:
    pickle.dump((dv, lr), f_out)

In [212]:
lr = Lasso(alpha=0.001)
lr.fit(X_train, y_train)

y_pred = lr.predict(X_val)

mean_squared_error(y_val, y_pred, squared=False)

9.233436225720547

In [213]:
lr = Ridge(alpha=0.001)
lr.fit(X_train, y_train)

y_pred = lr.predict(X_val)

mean_squared_error(y_val, y_pred, squared=False)

11.342565604878798